{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
  Forum Lowongan
{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<h1 style="text-align: center">Forum Lowongan</h1>
<br><br>
<div class="row">
    <div class="col-md-6 col-xs-6">
        <form method="POST" action="add_status/">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        Judul
                    </td>
                    <td>
                        <input type="text" name="title" size="25"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Deskripsi
                    </td>
                    <td>
                        <input type="text" name="content" size="25"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="button btn-success">Submit</button>
                    </td>
            </table>
            
        </form>
    </div>
    <div class="col-sm-12">
        <table>
        <br>
        <br>
            {% for i in forum reversed %}
                <tr>
                <td>
                <img src="https://history1978.files.wordpress.com/2012/02/diskusi.jpg" style="width:50px;height:50px;border:'square'">
                <td>
                    <td class="status" align="left">
                    <br> 
                    
                    <h3>Ajmy Ripemedy</h3>
                    <p>{{ status_data.status }}</p>
                    <p>{{ status_data.date }}</p></td>
                    <td class="date"></td>

                </tr>

            {% endfor %}
        </table>
    </div>
    <nav>
          {% if forum.has_other_pages %}
          <ul class="pagination" style="justify-content: center; margin-top: 20px">
            {% if forum.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ forum.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
            {% endif %}
            {% for i in forum.paginator.page_range %}
              {% if forum.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if forum.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ forum.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
          </ul>
          {% endif %}
        </nav>

</div>
{% endblock %}